#root{
    background-image: url("../../../assets/bgimg3.jpg");
    background-size: cover;
    height:93.2vh;
    width: 100vw;
    font-family: 'Kdam Thmor Pro', sans-serif;
  }
  .example-full-width {
  width: 100%;
}
