<!-- <h2 mat-dialog-title>Guidelines for the Quiz</h2>

  <h3>Instructions</h3>
  <p>Before you start the quiz, please read the following guidelines carefully to ensure a smooth experience.</p>

  <h3>Time Management</h3>
  <p>Be mindful of the time allocated for the quiz. Ensure that you pace yourself and attempt all questions within the given time.</p>

  <h3>Answering Questions</h3>
  <p>Read each question carefully and provide your answers thoughtfully. Ensure that you submit your responses before the timer runs out.</p>

  <h3>Single Correct Answer</h3>
  <p>This quiz allows only a single correct answer. Make sure you are ready to begin before starting the quiz.</p>

  <h3>Technical Requirements</h3>
  <p>Ensure a stable internet connection and use a compatible device to avoid any technical issues during the quiz.</p>

  <h3>Good Luck!</h3>
  <p>Wishing you the best of luck with your quiz. Click the "Start Quiz" button when you are ready to begin.</p>


  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Start Quiz</button>
 -->
