#rootDiv{
  background: linear-gradient(
    90deg,
    rgba(14, 138, 207, 1) 0%,
    rgba(38, 233, 179, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  }
#formDiv{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.1);  
    width:25vw

}
input.ng-invalid.ng-touched {
  border: 2px solid red;
}
