<!-- "font-family: 'Kdam Thmor Pro', sans-serif; -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:ital,wght@1,300&family=Mukta:wght@500&family=Signika+Negative&display=swap" rel="stylesheet">   
<nav class="navbar navbar-expand-sm navbar-dark  " style="background-color: white;font-family: 'Signika Negative', sans-serif;font-size: medium;box-shadow: rgba(50, 50, 93, -0.75) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
" id="navBar">
    <div class="container-fluid px-5">
        <a class="navbar-brand" href="#" style="font-size: x-large; background: linear-gradient(
            90deg,
            rgba(14, 138, 207, 1) 0%,
            rgba(38, 233, 179, 1) 35%,
            rgba(0, 212, 255, 1) 100%
          );padding: 15px;border-radius: 15px;" >Exam-Ease</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-2">
                    <a class="nav-link " [routerLink]="userRole==='user'?'user-home':'admin-home'"><i class="fa-solid fa-house"></i> Home</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" routerLink="/add-quiz"><i class="fa-solid fa-clipboard"></i> Add-Quiz</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" routerLink="/attempt-quiz"><i class="fa-solid fa-pencil"></i> Attempt-Quiz</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" routerLink="/profile-details"><i class="fa-solid fa-user"></i> Your Profile</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" (click)="onLogout()"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
