#root {
  /* background-image: url("../../../assets/bgimg3.jpg"); */
  background-size: cover;
  height: 92.5vh;
  width: 98vw;
  font-family: "Kdam Thmor Pro", sans-serif;
}
.example-full-width {
  width: 100%;
}
#quiz-card-list span {
  /* color: white; */
  /* font-family: "Comic Neue", cursive; */
  /* font-family: 'Hedvig Letters Serif', serif; */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Inter", sans-serif;

  font-size: large;
  font-weight:normal
}
.example-quiz-card.even {
  /* background-color: #0583D2; */
}
.example-quiz-card.odd {
  /* background-color: #0583D2; */
}
.subcategory-item {
  font-family: "Comic Neue", cursive;
  font-size: large;
  font-weight: bold;
}
.subcategory-list-text.selected {
  background-color: #b8e3ff;
}
